.product-table{
    width: 93%;
    display: table;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
}
.table-header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 100%;
}
.table-header .header-text{
    text-align: center;
    /* border: 1px solid black; */
    width: 13%;
}
.table{
    width: 100%;
}
.table-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid black;
}
.table-container .description{
    width: 209px;
}
.table-container .id{
    margin-left: 2%;
}
